<nav class="sidebar-navigation">
    <div class="sidebar-logo">
        <a href="#">
            <img src="./src/assets/icons/logo-spotify.png" alt="Logo do Spotify na sidebar">
        </a>
    </div>
    <div>
        <ul>
            <li>
                <a href="#">
                    <span>
                        <img src="./src/assets/icons/house-icon.svg" style="width: 18px; height: 18px;" alt="Logo de casinha indicando a página inícial na sidebar">
                    </span>
                    <span>Início</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="./src/assets/icons/search.svg" style="width: 18px; height: 18px;" alt="Logo de lupa indicando a funcionalidade de pesquisa na sidebar">
                    </span>
                    <span class="text">Buscar</span>
                </a>
            </li>
        </ul>
    </div>
</nav>